<div class="leon-container">
  <leon-header></leon-header>
  <div class="center-container">
    <leon-menu (OnclickChildMenu) = "onClickChildMenu($event)"></leon-menu>
    <div class="right-content">
      <p class="page-title" *ngIf="subMenuNm">
        <i style="margin-right: 5px" class="fa fa-map-marker" aria-hidden="true"></i> 
        当前位置：
        <span *ngIf="selectedMenuNm"> 
            {{selectedMenuNm}} <i style="margin: 0px 5px" class="fa fa-angle-right" aria-hidden="true"></i>
        </span>
        <a class="menu-link" routerLink="{{link}}">{{subMenuNm}}</a> 
      </p>   
      <router-outlet></router-outlet>
    </div>  
  </div>
  <!--<loading></loading>-->